div(hx-swap-oob="afterbegin:#timeline")
  .card.mb-2.shadow-sm(id='tweet-' + t.id)
    .card-body
      .d-flex
        img.me-4(src=t.avatar, width="108")
        div
          h5.card-title.text-muted
            | #{t.username}
            small : #{t.time}
          .card-text.lead.mb-2
            | #{t.message}
          include retweets
          include likes
